#title {
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 20px 0 30px 0;
}

#partners {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

#partners td,
#partners th {
  border: 1px solid #ddd;
  padding: 8px;
}

#partners tr:nth-child(even) {
  background-color: #f2f2f2;
}

#partners tr:hover {
  background-color: #ddd;
}

#partners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #802f47;
  color: white;
}
