.item {
  background-color: #743434;
  padding: 2px;
  border-bottom: 1px #ccc dotted;
  color: #edf5e1;
  width: 480px;
  height: 120px;
  margin: 25px auto;
  border-radius: 45px;
  padding-top: 22px;
}
