form {
  background-color: #a9a3a3;
  padding: 20px;
  width: 550px;
  margin: 15px auto;
  border-radius: 25px;
  border: 2px solid #886565;
  text-align: center;
}

.selectField,
.valueField {
  background-color: #eeebeb;
  border: 2px solid #886565;
  width: 240px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
}

.selectField {
  margin-right: 4px;
}

.valueField {
  padding: 3px;
  margin-left: 4px;
}

select option {
  font-size: 16px;
  padding: 3px;
}

.submitBtn {
  width: 85px;
  height: 35px;
  margin: 10px;
  border-radius: 10%;
  border: none;
  color: white;
  background-color: rgb(92, 12, 38);
}

.errorMessage {
  color: rgb(241, 13, 13);
}
