@import '../../styles/variables';
@import '../../styles/extend';

.chartPageForm {
  @extend %form;
}

.selectField,
.valueField {
  @extend %field;
}

.selectField {
  margin-right: 4px;
}

.valueField {
  @extend %value-field;
}

select option {
  font-size: 16px;
  padding: 3px;
}

.submitBtn {
  @extend %btn;
  background-color: rgb(92, 12, 38);
}

.errorMessage {
  @extend %error;
}
